project/web/bundles/
project/app/bootstrap.php.cache
project/app/cache/*
project/app/config/parameters.yml
project/app/logs/*
!project/app/cache/.gitkeep
!project/app/logs/.gitkeep
project/app/phpunit.xml
project/build/
project/vendor/
project/bin/
project/composer.phar
.idea
.vagrant