<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <style>
        header {
            background: #82b965;
            height: 75px;
            vertical-align: middle;
            margin: 10px 0 50px;
        }

        .header-slogan {
            font-size: 40px;
            color: #f5f5f5;
            font-weight: bold;
            line-height: 75px;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <span class="header-slogan">LA-LA-FA</span>
    </div>

</header>
<div class="container">
    {% block body %}{% endblock %}
</div>

{% block scripts %}{% endblock %}
</body>
</html>
